In [124]:
import pandas as pd
import pickle
import os
import yaml
from datetime import datetime
import numpy as np

In [50]:
import config
config.model_path

'../csv/model'

In [160]:
with open('../csv/model/features_total.pkl', 'rb') as f:
    df = pickle.load(f)

In [163]:
df = df[df['date']<'2019-04-01']

In [130]:
select = df.groupby(['industry', 'code', 'date'])['roe_q'].count().reset_index().sort_values(by=['roe_q'])
select = select[select['roe_q'] >1]

In [113]:
with open('../csv/model/features_total.pkl', 'wb') as f:
    pickle.dump(total_feats_label, f, protocol = pickle.HIGHEST_PROTOCOL)

ValueError: Index contains duplicate entries, cannot reshape

In [166]:

cols = ['industry', 'code', 'date', 'roe_q']
df1 = df[cols]
inds_df = pd.DataFrame(columns=cols)
inds = list(set(df1.industry))
for ind in inds:
    single = df1[df1['industry'] == ind]
    tmp = single.set_index(['industry', 'code','date'])
    tmp = tmp.unstack(level=2)
    mtx = tmp.values
    mtx_mean = np.nanmean(mtx, axis=0)
    mtx_std = is_pos(np.nanstd(mtx, axis=0)) # 如果是0要等於1

    mtx_trans = ((mtx - mtx_mean)/mtx_std).reshape(-1)
    mtx_trans = mtx_trans[~np.isnan(mtx_trans)]
    single['roe_adj'] = mtx_trans
    inds_df = pd.concat([inds_df, single], axis=0, sort=False)

/Users/youngmihuang/pyenv36/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [167]:
inds_df

       industry    code        date  roe_q   roe_adj
19017      电气设备  000400  2014-04-17   0.00  0.000000
19018      电气设备  000400  2014-04-18   0.00  0.000000
19019      电气设备  000400  2014-04-21   0.00  0.000000
19020      电气设备  000400  2014-04-22   0.00  0.000000
19021      电气设备  000400  2014-04-23   2.08  2.645751
19022      电气设备  000400  2014-04-24   2.08  3.000000
19023      电气设备  000400  2014-04-25   2.08  3.162278
19024      电气设备  000400  2014-04-28   2.08  3.000000
19025      电气设备  000400  2014-04-29   2.08  1.543653
19026      电气设备  000400  2014-04-30   2.08  1.647854
19027      电气设备  000400  2014-05-05   2.08  1.647854
19028      电气设备  000400  2014-05-06   2.08  1.647854
19029      电气设备  000400  2014-05-07   2.08  1.647854
19030      电气设备  000400  2014-05-08   2.08  1.647854
19031      电气设备  000400  2014-05-09   2.08  1.543653
19032      电气设备  000400  2014-05-12   2.08  1.647854
19033      电气设备  000400  2014-05-13   2.08  1.647854
19034      电气设备  000400  2014-05-14   2.08  1.647854
19035      电气设备  000400  2014-05-15   2.08  1.745904
19036      电气设备  000400  2014-05-16   2.08  1.745904
19037      电气设备  000400  2014-05-19   2.08  1.745904
19038      电气设备  000400  2014-05-20   2.08  1.745904
19039      电气设备  000400  2014-05-21   2.08  1.745904
19040      电气设备  000400  2014-05-22   2.08  1.745904
19041      电气设备  000400  2014-05-23   2.08  1.745904
19042      电气设备  000400  2014-05-26   2.08  1.745904
19043      电气设备  000400  2014-05-27   2.08  1.745904
19044      电气设备  000400  2014-05-28   2.08  1.745904
19045      电气设备  000400  2014-05-29   2.08  1.745904
19046      电气设备  000400  2014-05-30   2.08  1.745904
...         ...     ...         ...    ...       ...
421087      计算机  601360  2019-02-18  12.14  1.577724
421088      计算机  601360  2019-02-19  12.14  1.577724
421089      计算机  601360  2019-02-20  12.14  1.577724
421090      计算机  601360  2019-02-21  12.14  1.577724
421091      计算机  601360  2019-02-22  12.14  1.577724
421092      计算机  601360  2019-02-25  12.14  1.577724
421093      计算机  601360  2019-02-26  12.14  1.288995
421094      计算机  601360  2019-02-27  12.14  1.288995
421095      计算机  601360  2019-02-28  12.14  1.288995
421096      计算机  601360  2019-03-01  12.14  1.288995
421097      计算机  601360  2019-03-04  12.14  1.288995
421098      计算机  601360  2019-03-05  12.14  1.288995
421099      计算机  601360  2019-03-06  12.14  1.288995
421100      计算机  601360  2019-03-07  12.14  1.288995
421101      计算机  601360  2019-03-08  12.14  1.288995
421102      计算机  601360  2019-03-11  12.14  1.288995
421103      计算机  601360  2019-03-12  12.14  1.288995
421104      计算机  601360  2019-03-13  12.14  1.288995
421105      计算机  601360  2019-03-14  12.14  1.288995
421106      计算机  601360  2019-03-15  12.14  1.288995
421107      计算机  601360  2019-03-18  12.14  1.288995
421108      计算机  601360  2019-03-19  12.14  1.288995
421109      计算机  601360  2019-03-20  12.14  1.288995
421110      计算机  601360  2019-03-21  12.14  1.288995
421111      计算机  601360  2019-03-22  12.14  1.288995
421112      计算机  601360  2019-03-25  12.14  1.288995
421113      计算机  601360  2019-03-26  12.14  1.288995
421114      计算机  601360  2019-03-27  12.14  1.288995
421115      计算机  601360  2019-03-28  12.14  1.288995
421116      计算机  601360  2019-03-29  12.14  1.288995

[480667 rows x 5 columns]

In [165]:
def is_pos(arr):
    r=[]
    for i in arr:
        if i == 0:
            r.append(1)
        else:
            r.append(i)
    return r

In [86]:
from tools.prepro import preprocessing
df_all = preprocessing(df)

ValueError: Index contains duplicate entries, cannot reshape

In [78]:
df = pd.read_csv('../csv/mood_data/mood.csv')
df_hist = pd.read_csv('../csv/mood_data/mood_hist.csv')

In [79]:
print(len(df_hist))
print(len(df))

120779
120888

In [77]:
filepath = '../csv/mood_data/mood_daily/000001.csv'
m = os.path.getctime(filepath)
datetime.fromtimestamp(m).date()

datetime.date(2019, 4, 27)

In [81]:
df.groupby(['date'])['code'].count().reset_index()

            date  code
0     2014-01-02    12
1     2014-01-03    10
2     2014-01-04     2
3     2014-01-07     8
4     2014-01-08     9
5     2014-01-09    15
6     2014-01-11     2
7     2014-01-12     1
8     2014-01-13    11
9     2014-01-15     8
10    2014-01-16    12
11    2014-01-17     9
12    2014-01-19     1
13    2014-01-22     6
14    2014-01-23    11
15    2014-01-26     2
16    2014-01-27    10
17    2014-01-28    10
18    2014-01-31     1
19    2014-02-03     1
20    2014-02-07     2
21    2014-02-08     4
22    2014-02-10     7
23    2014-02-12    10
24    2014-02-13    10
25    2014-02-16     2
26    2014-02-18    10
27    2014-02-19    14
28    2014-02-20    16
29    2014-02-21     7
...          ...   ...
1483  2019-03-30   154
1484  2019-03-31    67
1485  2019-04-01   186
1486  2019-04-02   194
1487  2019-04-03   223
1488  2019-04-04   202
1489  2019-04-05    96
1490  2019-04-06    19
1491  2019-04-07    40
1492  2019-04-08   161
1493  2019-04-09   174
1494  2019-04-10   188
1495  2019-04-11   184
1496  2019-04-12   190
1497  2019-04-13    60
1498  2019-04-14    36
1499  2019-04-15   136
1500  2019-04-16   149
1501  2019-04-17   147
1502  2019-04-18   159
1503  2019-04-19   159
1504  2019-04-20    65
1505  2019-04-21    62
1506  2019-04-22   179
1507  2019-04-23   180
1508  2019-04-24   164
1509  2019-04-25   202
1510  2019-04-26   234
1511  2019-04-27   118
1512  2019-04-28     9

[1513 rows x 2 columns]

In [3]:
def get_default_config():
    def load_yaml(path):
        with open(path, encoding='utf-8') as f:
            return yaml.load(f)
    default_config_path = os.path.join(os.getcwd(), 'config.yml')
    base = load_yaml(default_config_path)
    return base

In [8]:
os.getcwd()

'/Users/youngmihuang/Desktop/stockpool/src'

In [9]:
os.path.join(os.getcwd(),'testing', 'config.yml')

'/Users/youngmihuang/Desktop/stockpool/src/testing/config.yml'

In [6]:
path = 'config.yml'
with open(path, encoding='utf-8') as f:
    base = yaml.load(f)

In [7]:
base['raw_update']['daily_hs300_average']

'hs300_average.csv'

In [125]:
dm = base['datamart_generate']
dm['daily_stock_dir']

'../csv/Basic_Data_a'

In [112]:
import configparser
# config = configparser.ConfigParser()
config = configparser.ConfigParser(interpolation=configparser.ExtendedInterpolation())
config.read('./config.yml')

MissingSectionHeaderError: File contains no section headers.
file: './config.yml', line: 2
'base:\n'

In [109]:
config.get('base', 'mkt_code')

'../csv/CODES.txt'

In [103]:
config.get('raw_update', 'daily_sh50')

'../csv/model/'

In [56]:
raw_update.get('daily_stock_path')

'../csv/Basic_Data_a/'

In [110]:
config['base']['mkt_code']

'../csv/CODES.txt'

In [19]:
base = get_default_config()
print(base)
print(type(base))

{'version': '0.1.0', 'raw_update': {'daily_stock_path': '../csv/Basic_Data_a/', 'daily_ola_path': '../csv/mood_data/mood.csv'}, 'deliver_calculation': {'cal_amount': '../csv/index_data/amount.csv', 'cal_5d_vol': '../csv/index_data/volatility_5.csv', 'cal_22d_vol': '../csv/index_data/volatility_22.csv', 'cal_vol_change': '../csv/index_data/mkt_volatility_change.csv', 'cal_error_log': '../csv/index_data/error_code.csv', 'signal_and_risk_path': './api_data/', 'result_pic_save_path': './result/', 'target_stock_path': './a_share_20.csv', 'target_bentchmark_path': './a_return.csv', 'trade_data_path': './hist_hs300.csv', 'daily_weight_file_path': './api_data/alpha.csv', 'code_info_path': './codelist_info.csv', 'Save_model_path': './model/', 'draw_critic': True, 'write_daily_hold_share': False, 'commision_rate': 0.00025, 'duty_rate': 0.001, 'unit': 100, 'feature': 11, 'scope': 81, 'starting_asset': 1000000, 'Stock_Num': 7, 'Stock_pool_True': False, 'Stock_weight_remain': False, 'RL_days': 116, 'Start_dt_in_real_trade': '2015-12-31', 'Start_draw_and_output': '2016-01-25', 'MAX_GLOBAL_NUM': 11, 'remark': 'alpha_hs300'}, 'Policy': {'N_WORKERS': 2, 'MAX_EP_STEP': 2000, 'GLOBAL_NET_SCOPE': 'Global_Net', 'GAMMA': 1, 'ENTROPY_BETA': 0.01, 'DenseNodeNumber': 100, 'CONV_FILTER_NUM': 30, 'LR_A': 0.0001, 'LR_C': 0.0002, 'HiddenSize': 100, 'DropOutRate': 0.2, 'SigmaOffset': '1e-6', 'UPDATE_GLOBAL_ITER': 5, 'NETWORK': 'LSTMDropout'}}
<class 'dict'>

In [30]:
root = '/Users/youngmihuang/Desktop/THU/大數據創新與管理/ladue_data/'
df1 = pd.read_csv(root+'customers.csv')
df2 = pd.read_csv(root+'transactions.csv')
df3 = pd.read_csv(root+'transaction_details.csv')
print(len(df1))
print(len(df2))
print(len(df3))

1267
24433
72012

In [84]:
df = pd.merge(df1,df2, on=['Cust_ID'], how='left')

In [97]:
df_1m = df[df['days_since_last_transaction'] <=30]
df_1m = df_1m.groupby(by=['Cust_city', 'Acq_channel'])['revenue'].sum().reset_index()

In [98]:
df_1m

            Cust_city       Acq_channel  revenue
0              Albany               WOM    10291
1           Anchorage               WOM     6349
2             Ardmore  Sponsored Search    10463
3              Athens  Sponsored Search    34981
4           Baltimore               WOM    74492
5          Bellingham               WOM     9759
6               Berea               WOM    20327
7            Bethesda  Sponsored Search    10543
8            Bethesda               WOM    35056
9           Biddeford               WOM    14562
10         Birmingham               WOM      391
11        Bloomington               WOM    31559
12             Boston               WOM    12708
13      Bowling Green  Sponsored Search     8339
14          Brentwood  Sponsored Search     3912
15           Brooklyn       Direct Mail     1493
16             Brooks  Sponsored Search    11421
17        Brownsville               WOM     3882
18          Chantilly  Sponsored Search    32899
19         Charleston  Sponsored Search    38102
20         Charleston               WOM    63375
21        Charlestown       Direct Mail    17566
22          Charlotte               WOM    32478
23      Chestnut Hill               WOM    31904
24            Chicago  Sponsored Search    49890
25            Chicago               WOM    43557
26           Commerce  Sponsored Search    18279
27        Coon Rapids  Sponsored Search     8104
28             Dallas  Sponsored Search    33789
29             Denver  Sponsored Search     1299
..                ...               ...      ...
107         San Diego               WOM    13811
108     San Francisco  Sponsored Search    10649
109        Santa Cruz  Sponsored Search     7245
110           Seattle  Sponsored Search    43099
111           Seattle               WOM     7894
112   Shawnee Mission  Sponsored Search    48065
113  South Plainfield  Sponsored Search    14809
114       Southampton       Direct Mail    29201
115          St Louis               WOM    11201
116         St. Louis               WOM     6251
117          St. Paul       Direct Mail    18364
118     Staten Island  Sponsored Search    25646
119         Stevenson  Sponsored Search    47325
120         Sunnyvale  Sponsored Search     2340
121        Swarthmore               WOM    13760
122     The Woodlands  Sponsored Search    22267
123            Topeka  Sponsored Search    30839
124          Torrance  Sponsored Search     5969
125        Union City  Sponsored Search     7211
126      Univ Heights       Direct Mail    21246
127        W. Chicago               WOM    34244
128         Wellesley  Sponsored Search    13523
129         Wenatchee               WOM     5515
130           Weslaco  Sponsored Search    26128
131           Wheaton  Sponsored Search    19634
132           Wichita               WOM     2700
133        Woods Hole               WOM    53843
134         Worcester  Sponsored Search    10495
135         Worcester               WOM      759
136         Ypsilanti               WOM    14851

[137 rows x 3 columns]

In [103]:
df_1m[df_1m['Cust_city']== 'Salt Lake City']

          Cust_city Acq_channel  revenue
104  Salt Lake City         WOM    72084

In [96]:
df.columns

Index(['Cust_ID', 'Acq_date', 'Acq_year', 'Acq_month', 'Cust_city',
       'Cust_state', 'ZIP', 'Cust_type', 'Acq_channel', 'Acq_cost',
       'n_transactions', 'last_transaction_time',
       'average_transaction_revenue', 'average_transaction_profit',
       'days_since_last_transaction', 'days_since_first_transaction',
       'first_trans_channel', 'avg_n_transactions_per_year', 'total_revenue',
       'total_profit', 'status', 'invoice_id', 'order_date', 'order_channel',
       'n_items', 'n_categories', 'revenue', 'cost', 'profit'],
      dtype='object')

In [37]:
df = pd.merge(df1,df2, on=['Cust_ID'], how='left')
df = pd.merge(df, df3, on=['invoice_id'], how='left')

In [44]:
df.head()

,Cust_ID,Acq_date,Acq_year,Acq_month,Cust_city,Cust_state,ZIP,Cust_type,Acq_channel,Acq_cost,...,n_categories,revenue_x,cost,profit_x,Item,category,quantity,price,revenue_y,profit_y
0,AA1279,2009-08-04,2009,August,New York,NY,10016,Research,Sponsored Search,178,...,2,524,201.0,323.0,T0190-10,Ticarcilllin,1,139,139,34.0
1,AA1279,2009-08-04,2009,August,New York,NY,10016,Research,Sponsored Search,178,...,2,524,201.0,323.0,X4281C,X-gal,3,11,33,12.0
2,AA1279,2009-08-04,2009,August,New York,NY,10016,Research,Sponsored Search,178,...,2,524,201.0,323.0,X4281C10-sale,X-gal,1,352,352,277.0
3,AA1279,2009-08-04,2009,August,New York,NY,10016,Research,Sponsored Search,178,...,3,756,215.0,541.0,G1281C1,X-gluc,1,149,149,99.0
4,AA1279,2009-08-04,2009,August,New York,NY,10016,Research,Sponsored Search,178,...,3,756,215.0,541.0,I2481C25,IPTG,1,99,99,77.0

In [39]:
df3['category'].value_counts()

IPTG                16370
X-gal               13983
DTT                 11572
X-gluc               8492
D-Luciferin          6371
Carbenicillin        2650
Bialaphos            2245
Ampicillin            964
Kanamycin             960
Film                  929
Paromomycin           925
TCEP                  789
Ticarcilllin          759
Spectinomycin         632
Coelenterazine        542
Methyl                489
Seque                 378
Cefotaxime            360
Rifampicin            342
G418                  305
DPP                   290
Zeatin                262
Vancomycin            248
Chloramphenicol       246
KXB                   213
AEBSF                 212
5-FOA                 106
Glyphosate             96
NBT                    81
Digitonin              48
DDM                    35
OUP                    30
L-Arabinose            26
Hygromycin             26
Amiprophos             12
Luminol                11
Phosphinothricin        8
BCIP                    5
Name: category, dtype: int64

In [83]:
combine[combine['Cust_city'] == 'Gervais']

     Cust_city category  profit_y
2559   Gervais     IPTG     662.0
2560   Gervais    X-gal      49.0
2561   Gervais   X-gluc     109.0

In [51]:
combine = df.groupby(by=['Cust_city', 'category'])['profit_y'].sum().reset_index()
combine.groupby(['Cust_city'])['profit_y'].max()

Cust_city
APO                        28.00
Aberdeen                  278.00
Aberdeen Prvg Grnds      4372.00
Ada                       734.00
Aiea                      281.00
Akron                   11209.00
Alachua                   799.00
Alameda                  2803.00
Albany                  14148.00
Albuquerque              7011.00
Alexandria                342.00
Allentown                 646.00
Alpine                   4988.00
Ambler                  10260.00
Ames                    21604.00
Amherst                  9880.00
Anchorage                8752.00
Ann Arbor                1433.00
Annville                  609.00
Ardmore                  1404.00
Arlington                5515.84
Arvada                   2196.00
Asheville                1744.00
Ashland                  1391.00
Athens                  10753.00
Atlanta                 12687.00
Auburn                   1042.00
Augusta                    99.00
Aurora                  26459.00
Austin                   3899.00
                          ...
Wenatchee                 927.00
Weslaco                  9416.00
West  Lafayette           860.00
West Haven                714.00
West Hollywood            477.00
West Palm Beach          1817.00
West Roxbury             1668.00
West Salem               3958.00
Westford                  556.00
Westlaco                 8777.64
Wheaton                  3896.00
Wheeling                 5300.00
White Plains             8614.00
Whitewater               1798.00
Wichita                   586.00
Wichita Falls            5685.00
Williamsport              889.00
Williamstown             5943.28
Winchester                936.00
Windber                  2675.00
Winfield                  752.00
Winston-Salem            1330.00
Woburn                   3967.00
Woodland                  782.00
Woods Hole               7230.00
Worcester                9588.00
Wright Patterson AFB     1450.00
Wyndmoor                  473.00
Wynnewood                2226.00
Ypsilanti                3186.24
Name: profit_y, Length: 617, dtype: float64

In [7]:
def create_industry():
    df = pd.read_csv('../csv/industry.csv').rename(columns={'ind': 'industry'})
    df['code'] = [i[:-3] for i in df['code']]
    return df

In [22]:
hs300 = list(set(pd.read_csv('../csv/model/hist_hs300.csv').code))
hs300 = [i[:-3] for i in hs300]

In [8]:
ind = create_industry()

In [24]:
target_ind = ind[ind['code'].isin(hs300)]

In [25]:
target_ind

        code industry
0     000001       银行
1     000002      房地产
6     000008     机械设备
7     000009       综合
22    000027     公用事业
33    000039     机械设备
38    000046      房地产
46    000060     有色金属
47    000061     商业贸易
49    000063       通信
53    000069      房地产
61    000100     家用电器
66    000156       传媒
67    000157     机械设备
70    000166     非银金融
72    000333     家用电器
73    000338       汽车
74    000400     电气设备
76    000402      房地产
80    000408     商业贸易
84    000413       电子
85    000415     非银金融
93    000423     医药生物
94    000425     机械设备
103   000503     医药生物
132   000538     医药生物
133   000539     公用事业
134   000540      房地产
145   000553       化工
147   000555      计算机
...      ...      ...
3065  601898       采掘
3066  601899     有色金属
3068  601901     非银金融
3071  601919     交通运输
3072  601928       传媒
3073  601929       传媒
3074  601933     商业贸易
3075  601939       银行
3078  601958     有色金属
3080  601966       化工
3082  601969       采掘
3083  601985     公用事业
3084  601988       银行
3085  601989     国防军工
3087  601991     公用事业
3088  601992       综合
3090  601997       银行
3091  601998       银行
3093  603000       传媒
3181  603156     食品饮料
3185  603160       电子
3222  603259     医药生物
3223  603260     有色金属
3231  603288     食品饮料
3433  603799     有色金属
3452  603833     轻工制造
3459  603858     医药生物
3475  603885     交通运输
3522  603986       电子
3528  603993     有色金属

[454 rows x 2 columns]

In [26]:
target_ind['industry'].value_counts()

非银金融    42
医药生物    37
传媒      29
交通运输    26
公用事业    25
有色金属    24
电子      23
银行      22
计算机     22
房地产     21
化工      19
汽车      18
采掘      17
建筑装饰    15
食品饮料    15
电气设备    13
国防军工    12
机械设备    12
农林牧渔    10
商业贸易    10
家用电器     9
通信       9
钢铁       8
综合       4
休闲服务     3
纺织服装     3
建筑材料     3
轻工制造     3
Name: industry, dtype: int64

In [13]:
list(set(ind.industry))

['综合',
 '有色金属',
 '商业贸易',
 '银行',
 '非银金融',
 '纺织服装',
 '休闲服务',
 '家用电器',
 '电气设备',
 '轻工制造',
 '计算机',
 '农林牧渔',
 '食品饮料',
 '房地产',
 '传媒',
 '建筑材料',
 '公用事业',
 '采掘',
 '机械设备',
 '电子',
 '汽车',
 '医药生物',
 '通信',
 '交通运输',
 '国防军工',
 '化工',
 '建筑装饰',
 '钢铁']

In [ ]:
no_list = ['600485', '600482']

In [9]:
ind[ind['code'].isin(['600482', '300058', '600633', '002131', '600485'])]

        code industry
595   002131       传媒
1434  300058       传媒
2495  600482     电气设备
2497  600485       通信
2626  600633       传媒